scripts/px4_log.txt
scripts/pid_list.txt
scripts/simulationPID.txt
log
build
install
.vscode
mavros
px4_msgs
rosbags/
gz-plugins/gz_pose_plugin/build
gz-plugins/gz_pose_plugin/install
gz-plugins/gz_pose_plugin/log
gz-plugins/gz_pose_plugin/.vscode
gz-plugins/drone_pose_plugin/build